
  <div>
    <h1>
      Edit director
    </h1>

    <% @director.errors.full_messages.each do |message|  %>
      <p style="color: red"><%= message %></p>
    <% end %>

    <%= render "directors/director_form" %>
  </div>
